body {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #ffffff, #e96196);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    background-image: linear-gradient(to right, #ffb4a2, #ffcdb2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 30px;
    min-height: 60vh;
    width: 40vw;
    border-radius: 24px;
}

.message {
    text-align: center;
}

h1 {
    display: flex;
    flex-wrap: wrap;
}

.options {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
    flex-wrap: wrap;
}

button {
    font-size: 16px;
    font-weight: bold;
    padding: 8px;
    border-radius: 8px;
}